<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movies App</title>
</head>
<body>
  <h1>Welcome to Movies App</h1>
</body>
</html> -->

<%- include('partials/header.ejs', {title: 'Home'}) %>

<!-- <h1>Welcome to the Movies App</h1> -->
<h1>Manage Your Movie Collection</h1>

<a href="/auth/register">Register</a> |
<a href="/auth/login">Login</a> |
<a href="/movies">View All Movies</a>

<%- include('partials/footer.ejs') %>