body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
}

/* form look */
.form-container {
    width: 320px;

    margin: 40px auto;
    padding: 20px;

    
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* label */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* user inputs */
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

/* the buttons */
button {
    width: 100%;

    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #333;
}

/* LINKS */
a {
    color: blue;
}

/*movie Cards */
.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background: #fafafa;
}

/* the footer */
footer {
    text-align: center;
    margin-top: 20px;
    
    font-size: 14px;
    color: gray;
}